@import "node_modules/aos/src/sass/aos";

.white-text-shadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: 2px 0px 30px 0 rgba(0, 0, 0, 0.14);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(245 158 11);
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(245 158 11);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-decoration-line: none !important; 

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(245,158,11);
    }
}


.btn {
    padding: 1rem 3rem;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.btn-primary {
    background-color: rgb(251,191,35) !important;
    border: 2px solid rgb(251,191,35);

    &:hover {
        color: rgb(251,191,35);
        background-color: white !important;
        border: 2px solid rgb(251,191,35);
    }
}

.btn-secondary {
    background-color: white;
    border: 2px solid rgb(251,191,35);
    color: rgb(251,191,35);

    &:hover {
        color: white;
        background-color: rgb(251,191,35);
    }
}

/* Vadyms styles: */
$base: 0.6rem;

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 10px;
 height: 50%;
 width: 50%;
 background: #2c3e50;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}
/* Vadyms Styles ENDS HERE */

.max-h-600 {
    max-height: 600px;
}

.z-500 {
    z-index: 500 !important;
}


// phone number input style overwrite
.m-phone-number-input__select {
    .m-input-wrapper {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba($color: white, $alpha: 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top: 1px solid rgba($color: white, $alpha: 0.5);
    border-left: 1px solid rgba($color: white, $alpha: 0.5);
    backdrop-filter: blur(5px);
}